/**
Styles used for html and body
**/

html, body {
    padding: 0px;
    margin: 0px;
    max-height: 100%;
}

p {
  padding: 0 20px;
}


h1, h2, h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

img {
    max-width: 100%;
}