
.menu--top, .menu--bottom {
  width: 100%;
  position: fixed;
  @include transition(all .3s ease);
  z-index: 99;
}

.menu--top {
  top: 0px;
}

.menu--bottom{
  top: 130px;
  bottom: auto;
}

.menu__item {
  list-style: none;
  display: block;
}

.item {
  &--logo {
    @extend h1;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
  }

  &--1{
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &--2{
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &--3{
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &--4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.item--link {
  @extend h4;
  text-decoration: none;
  color: $foreground-color;

  &:hover {
    color: $color-3;
  }
}

.current {
   border: 2px solid;
   padding: 3px;
 }


@media screen and (min-width: $breakpoint-sm) {
  .menu--top {
    top: 0;
  }

  .menu--bottom {
    top: inherit;
    bottom: 0;
  }

  .item--logo {
    @include transition(all .3s ease);
  }

  .logo-up {
    top: -40px;
    @include transition(all .5s ease);
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .menu-up {
    @include transition(all .5s ease);
    top: -150px;
  }
}
