<header class='menu'>
  <li class='menu__item'>
    <a href='../../index.html' class='menu__item--logo'>B</a>
  </li>
  <li class='menu__item'>
    <a href="../../design.html" class='menu__item--1'>Design</a>
  </li>
  <li class='menu__item'>
    <a href="../../photography.html" class='menu__item--2'>Photo</a>
  </li>
  <li class='menu__item'>
    <a href='./' class='menu__item--3 menu__item--current'>Blog</a>
  </li>
  <li class='menu__item'>
    <a href='../../about.html' class='menu__item--4'>About</a>
  </li>
</header>
