<header class='menu'>
  <li class='menu__item item--logo'>
    <a href='../../index.html' class='item--link'>B</a>
  </li>
  <li class='menu__item item--1'>
    <a href="../../design.html" class='item--link'>Design</a>
  </li>
  <li class='menu__item item--2'>
    <a href="../../photo.html" class='item--link'>Photo</a>
  </li>
  <li class='menu__item item--3 current'>
    <a href='./' class='item--link'>Blog</a>
  </li>
  <li class='menu__item item--4'>
    <a href='../../about.html' class='item--link'>About</a>
  </li>
</header>
