<div class='menu--top'>
    <li class='menu__item item--logo'>
      <a href='http://baileycmiller.github.io/index.html' class='item--link'>B</a>
    </li>
    <li class='menu__item item--1'>
      <a href='https:www.iamgreer.com' class='item--link'>Music</a>
    </li>
    <li class='menu__item item--2'>
      <a href='http://baileycmiller.github.io/photo.html' class='item--link'>Photo</a>
    </li>
  </div>
  <div class='menu--bottom'>
    <li class='menu__item item--3 current'>
      <a href='http://baileycmiller.github.io/blog' class='item--link'>Blog</a>
    </li>
    <li class='menu__item item--4'>
      <a href='http://baileycmiller.github.io/about.html' class='item--link'>About</a>
    </li>
  </div>
