/**
Button styles
**/

.button {
  text-align: center;
  padding: 10px 20px;
  background-color: $foreground-color;
  border: 5px solid $background-color;
  color: $background-color;
  display: block;
  box-sizing: border-box;
}

.button:hover {
    border: 5px solid $foreground-color;
    background-color: $background-color;
    color: $foreground-color;
}
