body {
  background-color: $background-color;
}

.content {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.post {
  margin-top: 150px;

}

.post_title {
  text-align: left;
  font-family: $font-headings !important;

  & a {
    color: $foreground-color;
    font-family: $font-headings !important;
  }
}

.post_date {
  text-align: left;
  margin-bottom: 50px;
}

.post_body {
  text-align: left;
}

.post_tags {

}

.video, iframe {
  display: block;
  text-align: center;
  margin: 0px auto;
}

.align-center {
  text-align: center;
  margin: auto;
  display: block;
}

.float-left {
  float: left;
  width: calc(50% - 10px);
  padding-right: 10px;
}

.float-right {
  width: calc(50% - 10px);
  padding-left: 10px;
}

.pagination {
  margin: 60px auto 30px;
}

img {
  max-width: 100%;
}
