.content {
  width: 700px;
  margin: auto;
}

.post {
  margin-top: 150px;

}

.post_title {
  text-align: left;

  & a {
    color: $foreground-color;
  }
}

.post_date {
  text-align: left;
  margin-bottom: 50px;
}

.post_body {
  text-align: left;
}

.post_tags {

}

.video, iframe {
  display: block;
  width: 560px;
  height: 315px;
  text-align: center;
  margin: 0px auto;
}

.align-center {
  text-align: center;
  margin: auto;
  display: block;
}

.float-left {
  float: left;
  width: calc(50% - 10px);
  padding-right: 10px;
}

.float-right {
  width: calc(50% - 10px);
  padding-left: 10px;
}

.pagination {
  margin: 60px auto 30px;
}

img {
  max-width: 100%;
}
