// POSITIONING AND GRID //

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

// MARGIN //
.u-push {

  &-none {
    margin: 0px !important;

    &-top {
      margin-top: 0px !important;
    }

    &-right {
      margin-right: 0px !important;
    }

    &-bottom {
      margin-bottom: 0px !important;
    }

    &-left {
      margin-left: 0px !important;
    }
  }

  &-xs {
    margin: $space-xsmall;

    &-top {
      margin-top: $space-xsmall;
    }

    &-right {
      margin-right: $space-xsmall;
    }

    &-bottom {
      margin-bottom: $space-xsmall;
    }

    &-left {
      margin-left: $space-xsmall;
    }
  }

  &-sm {
    margin: $space-small;

    &-top {
      margin-top: $space-small;
    }

    &-right {
      margin-right: $space-small;
    }

    &-bottom {
      margin-bottom: $space-small;
    }

    &-left {
      margin-left: $space-small;
    }
  }

  &-md {
    margin: $space-medium;

    &-top {
      margin-top: $space-medium;
    }

    &-right {
      margin-right: $space-medium;
    }

    &-bottom {
      margin-bottom: $space-medium;
    }

    &-left {
      margin-left: $space-medium;
    }
  }

  &-lg {
    margin: $space-large;

    &-top {
      margin-top: $space-large;
    }

    &-right {
      margin-right: $space-large;
    }

    &-bottom {
      margin-bottom: $space-large;
    }

    &-left {
      margin-left: $space-large;
    }
  }

  &-xl {
    margin: $space-xlarge;

    &-top {
      margin-top: $space-xlarge;
    }

    &-right {
      margin-right: $space-xlarge;
    }

    &-bottom {
      margin-bottom: $space-xlarge;
    }

    &-left {
      margin-left: $space-xlarge;
    }
  }
}


// Padding //
.u-pad {

  &-none {
    padding: 0px !important;

    &-top {
      padding-top: 0px !important;
    }

    &-right {
      padding-right: 0px !important;
    }

    &-bottom {
      padding-bottom: 0px !important;
    }

    &-left {
      padding-left: 0px !important;
    }
  }

  &-xs {
    padding: $space-xsmall;

    &-top {
      padding-top: $space-xsmall;
    }

    &-right {
      padding-right: $space-xsmall;
    }

    &-bottom {
      padding-bottom: $space-xsmall;
    }

    &-left {
      padding-left: $space-xsmall;
    }

    &-vertical {
      padding: $space-xsmall 0px;
    }
  }

  &-sm {
    padding: $space-small;

    &-top {
      padding-top: $space-small;
    }

    &-right {
      padding-right: $space-small;
    }

    &-bottom {
      padding-bottom: $space-small;
    }

    &-left {
      padding-left: $space-small;
    }

    &-vertical {
      padding: $space-small 0px;
    }
  }

  &-md {
    padding: $space-medium;

    &-top {
      padding-top: $space-medium;
    }

    &-right {
      padding-right: $space-medium;
    }

    &-bottom {
      padding-bottom: $space-medium;
    }

    &-left {
      padding-left: $space-medium;
    }

    &-vertical {
      padding: $space-medium 0px;
    }
  }

  &-lg {
    padding: $space-large;

    &-top {
      padding-top: $space-large;
    }

    &-right {
      padding-right: $space-large;
    }

    &-bottom {
      padding-bottom: $space-large;
    }

    &-left {
      padding-left: $space-large;
    }

    &-vertical {
      padding: $space-large 0px;
    }
  }
}

// TYPOGRAPHY //

.u-text-italic {
  font-style: italic;
}

.u-text-underline {
  text-decoration: underline;
}

.u-text-center {
  text-align: center;
}
