/**
Variables
**/

$font-headings: 'Karla', 'Brandon Grotesque', Helvetica, Arial, sans-serif;
$font-body: 'Karla', 'Brandon Groteque', Helvetica, Arial, sans-serif;


$primary-color: #290538;
$secondary-color: #AB1F41;
$third-color: #E27D74;

$background-color: #F9FAFF;
$foreground-color: #0C0B0C;
$color-1: #602D5A;
$color-2: #B24A6A;
$color-3: #F9494F;
$color-4: #F96F4F;
$color-5: #F3C677;

$breakpoint-sm: 768px;
$breakpoint-lg: 1000px;

$space-xsmall: 10px;
$space-small: 20px;
$space-medium: 40px;
$space-large: 80px;
$space-xlarge: 160px;
