/**
Variables
**/

$font-headings:    'Futura-pt', Arial, sans-serif;
$font-body:    'Lato', Arial, sans-serif;
$red-color: #a42644;
$black-color: #333333;
$background-color: #f6f6f6;
$white-color: #ffffff;
