/**
Variables
**/

$font-headings: 'Brandon Grotesque', Helvetica, Arial, sans-serif;
$font-body: 'Karla', 'Brandon Groteque', Helvetica, Arial, sans-serif;

$red-color: darkgray;
$black-color: #333333;
$background-color: #e24242;
$white-color: #ffffff;

$breakpoint-sm: 768px;
$breakpoint-lg: 1000px;

$space-xsmall: 10px;
$space-small: 20px;
$space-medium: 40px;
$space-large: 80px;
$space-xlarge: 160px;
