<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bailey Miller is a photographer, designer, artist, musician, and beyond currently living near Cincinnati, Ohio.">
  <meta name="author" content="Bailey Miller">
  <title>Bailey Miller</title>
  <!-- <link rel="stylesheet" href="css/normalize.min.css"> -->
  <link rel="stylesheet" href={{ "/css/main.css" | relative_url }}>
</head>
<body>
  {% include menu.html %}
  <div class='content'>
    {% capture content %}
      {% for post in paginator.posts %}
        <div class='post'>
          {% if site.environment == 'development' %}
            <h1 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
          {% else %}
            <h1 class="post_title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
          {% endif %}
          <h4 class='post_date'>{{ post.date | date: "%B %-d, %Y" }}</h4>
          <p class='post_body'>{{ post.content }}</p>
          <small class='post_tags'>Posted in: {{ post.categories | array_to_sentence_string }}</small>
        </div>
      {% endfor %}
    {% endcapture %}
    {{ content | toc_generator }}
  </div>

  <!-- Pagination links -->
  <div class="pagination align-center">
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span><br />
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

  {% include footer.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
  <script>
  var didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var logoHeight = $('.item--logo').outerHeight();

  $(window).scroll(function(event){
      didScroll = true;
  });

  setInterval(function() {
      if (didScroll) {
          hasScrolled();
          didScroll = false;
      }
  }, 250);

  function hasScrolled() {
      var st = $(this).scrollTop();

      // Make sure they scroll more than delta
      if(Math.abs(lastScrollTop - st) <= delta)
          return;

      // If they scrolled down and are past the navbar, add class .nav-up.
      // This is necessary so you never see what is "behind" the navbar.
      if (st > lastScrollTop && st > logoHeight){
          // Scroll Down
          $('.item--logo').removeClass('.item--logo').addClass('logo-up');
          $('.menu').removeClass('.menu').addClass('menu-up');
      } else {
          // Scroll Up
          if(st + $(window).height() < $(document).height()) {
              $('.item--logo').removeClass('logo-up').addClass('.item--logo');
              $('.menu').removeClass('menu-up').addClass('.menu');
          }
      }

      lastScrollTop = st;
  }

  </script>
</body>
</html>
