<!DOCTYPE html>
<html>
<head>
  <script src="https://use.typekit.net/ghs8eud.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,700italic,300italic,100italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Bailey Miller is a photographer, designer, artist, musician, and beyond currently living near Cincinnati, Ohio.">
  <meta name="author" content="Bailey Miller">
  <title>Bailey Miller</title>
  <!-- <link rel="stylesheet" href="css/normalize.min.css"> -->
  <link rel="stylesheet" href={{ "css/main.css" | relative_url }}>
</head>
<body>
  {% include header.html %}
  <div class='content'>
    <div class='post'>
      <h2 class='post_title'>{{ page.title }}</h2>
      <h4 class='post_date'>{{ page.date | date: "%B %-d, %Y" }}</h4>
      <p class='post_body'>{{ page.content }}</p>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
